// utils

@import 'utils/vars';
@import 'utils/playsholders';
@import 'utils/mixins';
@import 'utils/common';
@import 'utils/container';

// layout components

@import 'components/layout/header';
@import 'components/layout/footer';

// section components

@import 'components/btn';

@import 'components/sections/section';
@import 'components/sections/hero';
@import 'components/sections/offerings';
@import 'components/sections/favorite';
@import 'components/sections/customers';
@import 'components/sections/subscription';
