@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  color: #3d3d3d;
  background-color: #fefefe;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  overflow: hidden;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #2c2c2c;
  background-color: transparent;
  border: none;
  border-radius: 21px;
  cursor: pointer;
  transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 250ms, background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.btn--small {
  padding: 5px 16px;
}
.btn--big {
  padding: 10px 22px;
}
.btn--green {
  background-color: #bbf330;
}
.btn--green:hover, .btn--green:focus {
  background-color: #b5ff00;
}
.btn--white {
  background-color: #ffffff;
  border: 2px solid #7eb101;
}
.btn--white:hover {
  border-color: #597d00;
}
.btn--white-yellow {
  background-color: #ffffff;
  border: 1px solid #7eb101;
}
.btn--white-yellow:hover {
  background-color: #ffe550;
}
.btn--slider {
  width: 40px;
  height: 48px;
  background: #ffffff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms, box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.btn--slider:hover {
  color: #7eb101;
}
.btn--slider:active {
  color: #2c2c2c;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16);
}
.btn__icon {
  position: relative;
  display: inline-block;
  vertical-align: center;
}
.btn--rev-icon .btn__icon {
  transform: rotate(180deg);
}

.section__title {
  font-size: 28px;
  line-height: 1.19;
}
@media screen and (min-width: 768px) {
  .section__title {
    font-size: 42px;
    line-height: 1.17;
  }
}

.hero_container {
  position: relative;
}
@media screen and (max-width: 767.98px) {
  .hero_container {
    margin-bottom: 50px;
    max-width: 440px;
  }
}
@media screen and (max-width: 1279.98px) {
  .hero_container {
    padding-top: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .hero_container {
    padding-bottom: 73px;
  }
}
@media screen and (min-width: 1280px) {
  .hero_container {
    padding-top: 158px;
    padding-bottom: 164px;
  }
}

@media screen and (min-width: 1280px) {
  .hero_wrap-left {
    width: 502px;
  }
}

.main-title {
  margin-bottom: 28px;
  color: #2c2c2c;
}
@media screen and (max-width: 767.98px) {
  .main-title {
    font-size: 28px;
    line-height: 1.18;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .main-title {
    margin-bottom: 44px;
    width: 537px;
  }
}
@media screen and (min-width: 768px) {
  .main-title {
    font-size: 42px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1280px) {
  .main-title {
    font-size: 48px;
    width: 468px;
  }
}

.hero_desc {
  line-height: 1.5;
  color: #2c2c2c;
}
@media screen and (max-width: 767.98px) {
  .hero_desc {
    font-size: 14px;
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .hero_desc {
    width: 336px;
  }
}
@media screen and (min-width: 768px) {
  .hero_desc {
    margin-bottom: 40px;
  }
}

.hero_wrap-right {
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
}
@media screen and (max-width: 767.98px) {
  .hero_wrap-right {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .hero_wrap-right {
    width: 320px;
    right: 40px;
    bottom: 0;
    border: 14px solid #ffe550;
  }
}
@media screen and (min-width: 1280px) {
  .hero_wrap-right {
    right: 14px;
    bottom: 14px;
    border: 26px solid #ffe550;
  }
}

.favorite {
  padding: 60px 0;
}
@media screen and (min-width: 768px) {
  .favorite {
    padding: 100px 0;
  }
}

.favorite__title {
  margin-bottom: 20px;
  text-align: center;
}

.favorite__sub-title {
  margin-bottom: 60px;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
}
@media screen and (min-width: 768px) {
  .favorite__sub-title {
    font-size: 16px;
    line-height: 1.19;
  }
}
@media screen and (min-width: 1280px) {
  .favorite__sub-title {
    margin-bottom: 40px;
  }
}

.favorite__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .favorite__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
}

.favorite__item {
  flex-shrink: 0;
}

.favorite__round {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 2 * 20px);
  height: calc(100vw - 2 * 20px);
  border: 11px solid #ffe550;
  border-radius: 50%;
  overflow: hidden;
  transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.favorite__round:hover, .favorite__round:focus, .favorite__round:active {
  border-color: #bbf330;
}
@media screen and (min-width: 411px) {
  .favorite__round {
    gap: 14px;
    width: calc(417px - 2 * 20px);
    height: calc(417px - 2 * 20px);
    border-width: 14px;
  }
}
@media screen and (min-width: 768px) {
  .favorite__round {
    gap: 14px;
    width: 336px;
    height: 336px;
    border-width: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .favorite__round {
    gap: 16px;
    width: 385px;
    height: 385px;
    border-width: 16px;
  }
}

.favorite__img {
  width: calc(100% - 34px);
  height: calc(100% - 34px);
}
@media screen and (min-width: 768px) {
  .favorite__img {
    width: 268px;
    height: 268px;
  }
}
@media screen and (min-width: 1280px) {
  .favorite__img {
    width: 315px;
    height: 315px;
  }
}

.feedback__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #2c2c2c;
}

.feedback__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2c2c2c;
}

.feedback__item {
  display: flex;
}/*# sourceMappingURL=index.css.map */