.header {
  margin-left: auto;
  margin-right: auto;
}

.container-header {
  display: flex;
  flex-direction: row;
    align-items: center;

    justify-content: space-between;
    align-content: center;
}



@media screen and (max-width: 480px) {
 .container-header {
  max-width: 320px;
    outline: 1px solid red;
 }

 .burger {
  margin-right: 22px;
 }

.logo-icon {
  margin-left: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navigation-list {
  display: flex;
  width: 130px;
  height: 255px;
  flex-direction: column;
  justify-content: space-around;
  background: #FEFEFE;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
  border-radius: 30px 0px 30px 30px;
}

}