.header {
  @include mb(mob-only) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @include mb(desk) {
    max-width: 1280px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14px;
  }
}

.header-container {
  position: relative;
  display: flex;
  align-items: center;
  line-height: 1.19;
}

.menu-nav {
  display: flex;
  width: 60vw;
  height: 255px;
  flex-direction: column;
  background: #fefefe;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
  border-radius: 30px 0px 30px 30px;
}

.navigation {
  @include mb(tab) {
    display: flex;
    align-items: center;
  }
}

.navi {
  @include mb(tab) {
    margin-right: 22px;
    position: relative;
  }
}

.navigation-list {
  @include mb(mob-only) {
    display: flex;
    width: 60vw;
    height: 255px;
    flex-direction: column;
    background: #fefefe;
    box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
    border-radius: 30px 0px 30px 30px;
  }

  @include mb(tab) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.navigation__anchor {
  @include mb(mob-only) {
    display: block;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &:hover,
  &:focus {
    @include mb(mob-only) {
      background: #bbf330;
    }
  }

  &--start {
    @include mb(mob-only) {
      border-radius: 30px 0px 0px 0px;
    }
  }

  &--end {
    @include mb(mob-only) {
      border-radius: 0px 0px 30px 30px;
    }
  }
}

.btn-order {
  @include mb(mob-only) {
    display: none;
  }

  .navigation-list__item {
    @include mb(tab) {
      margin-right: 28px;
      padding-top: 28px;
      padding-bottom: 28px;
    }
  }

  @include mb(tab) {
    font-family: inherit;
    background: #bbf330;
    border-radius: 30px;
    border: none;
    padding: 5px 17px 6px 16px;
    margin-right: 32px;
    cursor: pointer;
  }
}

.burger-icon {
  @include mb(tab) {
    display: none;
  }
}

.logo-icon {
  @include mb(desk) {
    padding-left: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .navigation__anchor {
    &:hover,
    &:focus {
      text-decoration: underline;
      color: #bbf330;
    }
  }
}
