.header {
  margin-left: auto;
  margin-right: auto;

}

.container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}



@media screen and (max-width: 480px) {
 .container-header {
  max-width: 320px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
 }

 .navi {
  margin-right: 22px;
  position: relative;
 }

.logo-icon {
  margin-left: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navigation {
  position: absolute;
  z-index: 2;
  top: 20px;
  left: -109px;
}

.navigation-list {
  display: flex;
  width: 130px;
  height: 255px;
  flex-direction: column;
  background: #FEFEFE;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
  border-radius: 30px 0px 30px 30px;
}
.navigation__anchor {
  display: block;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;

  &:hover, &:focus {
background: #BBF330;
  }

  &--start {
border-radius: 30px 0px 0px 0px;
  }

  &--end {
    border-radius: 0px 0px 30px 30px;
    padding-bottom: 19px;
  }



}

 .btn-order {
    display: none;
  }

}

@media screen and (max-width: 768px) and (min-width: 481px) {
  .burger-icon {
    display: none;
  }

  .container-header {
    max-width: 768px;
      font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .navigation-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .navigation-list__item {
    margin-right: 28px;
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .btn-order {
  background: #BBF330;
  border-radius: 30px;
  border: none;
  padding: 5px 17px 6px 16px;
  margin-right: 32px;
  cursor: pointer;
  }

}


@media screen and (min-width: 768.02px) {
  .burger-icon {
    display: none;
  }

  .logo-icon {
    padding-left: 20px;
  }

  .container-header {
    max-width: 1280px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .navigation-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .navigation-list__item {
    margin-right: 28px;
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .btn-order {
  background: #BBF330;
  border-radius: 30px;
  border: none;
  padding: 5px 17px 6px 16px;
  margin-right: 32px;
  cursor: pointer;
  }

.navigation__anchor {

  &:hover, &:focus {
    text-decoration: underline;
    color: #BBF330;
  }
}

}
