<section class="feedback">
  <div class="container feedback-container">
    <h3 class="feedback__title">What our Customers Say</h3>
    <p class="feedback__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <div class="feedback__item">
      <div class="">
        <p>
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>

        <svg width="48" height="48">
          <use></use>
        </svg>
        <div>
          <p>Sumith Shah</p>
          <p>Some Dude</p>
        </div>
      </div>
      <div class="">
        <p>
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>

        <svg width="48" height="48">
          <use></use>
        </svg>
        <div>
          <p>Sumith Shah</p>
          <p>Some Dude</p>
        </div>
      </div>
    </div>
  </div>
</section>
