<section class='favorite section'>
  <div class='container'>
    <h2 class='favorite__title section__title'>Some of Our Favorites</h2>
    <p class='favorite__sub-title'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <ul class='favorite__list'>
      <li class='favorite__item'>
        <a class='favorite__round' href='#' aria-label='burger'>
          <img
            class='favorite__img'
            srcset="
            images/favorite/img01-1280w315.png 315w,
            images/favorite/img01-768w268.png 268w,
            images/favorite/img01-320w224.png 224w,
            images/favorite/img01-1280w315@2x.png 630w,
            images/favorite/img01-768w268@2x.png 536w,
            images/favorite/img01-320w224@2x.png 448w
          "
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (min-width: 411px) 315px, calc(100vw - 96px)"
            src="images/favorite/img01-1280w315.png"
            alt='image-01'
          >
        </a>
      </li>
      <li class='favorite__item'>
        <a class='favorite__round' href='#' aria-label='burger'>
          <img
            class='favorite__img'
            srcset="
            images/favorite/img02-1280w315.png 315w,
            images/favorite/img02-768w268.png 268w,
            images/favorite/img02-320w224.png 224w,
            images/favorite/img02-1280w315@2x.png 630w,
            images/favorite/img02-768w268@2x.png 536w,
            images/favorite/img02-320w224@2x.png 448w
          "
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (min-width: 411px) 315px, calc(100vw - 96px)"
            src="images/favorite/img02-1280w315.png"
            alt='image-02'
          >
        </a>
      </li>
      <li class='favorite__item'>
        <a class='favorite__round' href='#' aria-label='burger'>
          <img
            class='favorite__img'
            srcset="
            images/favorite/img03-1280w315.png 315w,
            images/favorite/img03-768w268.png 268w,
            images/favorite/img03-320w224.png 224w,
            images/favorite/img03-1280w315@2x.png 630w,
            images/favorite/img03-768w268@2x.png 536w,
            images/favorite/img03-320w224@2x.png 448w
          "
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (min-width: 411px) 315px, calc(100vw - 96px)"
            src="images/favorite/img03-1280w315.png"
            alt='image-03'
          >
        </a>
      </li>
      <li class='favorite__item'>
        <a class='favorite__round' href='#' aria-label='burger'>
          <img
            class='favorite__img'
            srcset="
            images/favorite/img04-1280w315.png 315w,
            images/favorite/img04-768w268.png 268w,
            images/favorite/img04-1280w315@2x.png 630w,
            images/favorite/img04-768w268@2x.png 536w
          "
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (min-width: 411px) 315px, calc(100vw - 96px)"
            src="images/favorite/img04-1280w315.png"
            alt='image-04'
          >
        </a>
      </li>
      <li class='favorite__item'>
        <a class='favorite__round' href='#' aria-label='burger'>
          <img
            class='favorite__img'
            srcset="
            images/favorite/img05-1280w315.png 315w,
            images/favorite/img05-768w268.png 268w,
            images/favorite/img05-1280w315@2x.png 630w,
            images/favorite/img05-768w268@2x.png 536w
          "
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (min-width: 411px) 315px, calc(100vw - 96px)"
            src="images/favorite/img05-1280w315.png"
            alt='image-05'
          >
        </a>
      </li>
      <li class='favorite__item'>
        <a class='favorite__round' href='#' aria-label='burger'>
          <img
            class='favorite__img'
            srcset="
            images/favorite/img06-1280w315.png 315w,
            images/favorite/img06-768w268.png 268w,
            images/favorite/img06-1280w315@2x.png 630w,
            images/favorite/img06-768w268@2x.png 536w
          "
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (min-width: 411px) 315px, calc(100vw - 96px)"
            src="images/favorite/img06-1280w315.png"
            alt='image-06'
          >
        </a>
      </li>
    </ul>
  </div>
</section>
