<section class="feedback">
  <div class="container feedback-container">
    <h3 class="feedback__title">What our Customers Say</h3>
    <p class="feedback__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <div class="">
      <p>
        “The Best app I have used to order food in a while, so many options to
        choose from too, I would recommend to a freind, No questions asked”
      </p>
    </div>
    <div>
      <svg>
        <use></use>
      </svg>
      <div>
        <p>Sumith Shah</p>
        <p>Some Dude</p>
      </div>
    </div>
  </div>
</section>
