<footer class="footer">
  <div class="container footer__container">
    <div class="footer__wrap">
      <a class="footer__logo" href="./index.html"
        ><svg class="logo" width="69" height="51">
          <use class="" href="./images/icons.svg#icon-logo"></use></svg
      ></a>
      <ul class="footer-nav">
        <li class="footer-nav__item">
          <a class="footer-nav__link" href="#hero">Home</a>
        </li>
        <li class="footer-nav__item">
          <a class="footer-nav__link" href="#offerings">Offerings</a>
        </li>
        <li class="footer-nav__item">
          <a class="footer-nav__link" href="#favorite">Favorites</a>
        </li>
        <li class="footer-nav__item">
          <a class="footer-nav__link" href="">Customers Say</a>
        </li>
        <li class="footer-nav__item">
          <a class="footer-nav__link" href="#subscription">Subscribe</a>
        </li>
      </ul>
      <form class="subscription-form" name="subscription-form">
        <strong class="subscription-form__title">Subscribe</strong>
        <div class="subscription-form__wrap">
          <div class="field">
            <label class="field__input-wrapper" for="footer-email-field">
            </label>
            <input
              class="field__input subscription-form__field"
              id="footer-email-field"
              type="email"
              name="email"
              placeholder="Enter your email"
              required=""
            />
            <div class="field__error">
              <svg width="12" height="12">
                <use href="./images/icons.svg#icon-error"></use>
              </svg>
              Not a valid email address (example@email.com)
            </div>
          </div>
          <button
            class="btn btn--big btn--white subscription-form__btn"
            type="submit"
          >
            Subscribe
          </button>
        </div>
        <p class="agreement">
          By subscribing you agree to with our
          <a
            class="agreement__link footer__link"
            href=""
            target="_blank"
            rel="nofollow noopener noreferrer"
          >
            Privacy Policy
          </a>
        </p>
      </form>
    </div>
    <div class="footer-inform">
      <ul class="footer-inform__list">
        <li class="footer-inform__item">
          <a class="footer-inform__link footer__link" href="">Privacy Policy</a>
        </li>
        <li class="footer-inform__item">
          <a class="footer-inform__link footer__link" href=""
            >Terms of Service</a
          >
        </li>
        <li class="footer-inform__item">
          <a class="footer-inform__link footer__link" href=""
            >Cookies Settings</a
          >
        </li>
      </ul>
      <p class="footer-inform__rights">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
