<header class="header">
  <div class="header-container container">
    <a class="logo-icon" href="">
      <svg class="star" width="52" height="52">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <div class="menu">
      <button class="menu-btn" type="button">
        <svg class="burger-icon" width="23" height="16">
          <use href="./images/icons.svg#icon-burger"></use>
        </svg>
      </button>

      <ul class="menu-nav">
        <li class="menu-item">
          <a class="menu-action" href="#hero">Home</a>
        </li>
        <li class="menu-item">
          <a class="menu-action" href="#offerings">Offerings</a>
        </li>
        <li class="menu-item">
          <a class="menu-action" href="#favorite">Favorites</a>
        </li>
        <li class="menu-item">
          <a class="menu-action" href="#customers">Customers Say</a>
        </li>
        <li class="menu-item">
          <a class="menu-action" href="#subscription">Subscribe</a>
        </li>
      </ul>
    </div>
    <nav class="navigation">
      <ul class="navigation-list">
        <li class="navigation-list__item">
          <a class="navigation__anchor" href="#hero">Home</a>
        </li>
        <li class="navigation-list__item">
          <a class="navigation__anchor" href="#offerings">Offerings</a>
        </li>
        <li class="navigation-list__item">
          <a class="navigation__anchor" href="#favorite">Favorites</a>
        </li>
        <li class="navigation-list__item">
          <a class="navigation__anchor" href="#customers">Customers Say</a>
        </li>
        <li class="navigation-list__item">
          <a class="navigation__anchor" href="#subscription">Subscribe</a>
        </li>
      </ul>
    </nav>
    <button class="btn btn--green btn--small header__btn-order" type="button">
      Order Now
    </button>
  </div>
</header>
