<header class="header container-header">
  <div>
    <a class="logo-icon" href="">
      <svg class="star" width="52" height="52">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
    </a>
  </div>
  <div class="burger">
    <a>
      <svg class="burger-icon" width="23" height="16">
        <use href="./images/icons.svg#burger"></use>
      </svg>
    </a>
  </div>
  <div class="navigation">
    <ul class="navigation-list">
      <li class="navigation-list__item">Home</li>
      <li class="navigation-list__item">About</li>
      <li class="navigation-list__item">Service</li>
      <li class="navigation-list__item">Menu</li>
      <li class="navigation-list__item">Contacts</li>
    </ul>
  </div>
</header>
