<section class="hero" id='hero'>
  <div class="container hero__container">
    <div class="hero__wrap">
      <h1 class="main-title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="hero__desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <button class="btn btn--small btn--green" type="button">Order Now</button>
    </div>
    <div class="hero__slider">
      <div class="slider" style='display: none'>
        <div class="slider__wrap">
          <img
            class="slider__img"
            srcset="
              ./images/hero/img1-292.jpg   292w,
              ./images/hero/img1-528.jpg   528w,
              ./images/hero/img1-584.jpg   584w,
              ./images/hero/img1-1056.jpg 1056w
            "
            sizes="(min-width: 1200px) 528px, 292px"
            src="./images/hero/img1-528.jpg"
            alt="a plate with bread and sauce"
            width="528"
            height="528"
            loading="lazy"
          />
        </div>
        <div class="slider__wrap">
          <img
            class="slider__img"
            srcset="
              ./images/hero/img2-292.jpg   292w,
              ./images/hero/img2-528.jpg   528w,
              ./images/hero/img2-584.jpg   584w,
              ./images/hero/img2-1056.jpg 1056w
            "
            sizes="(min-width: 1200px) 528px, 292px"
            src="./images/hero/img1-528.jpg"
            alt="a plate with bread and sauce"
            width="528"
            height="528"
            loading="lazy"
          />
        </div>
        <div class="slider__wrap">
          <img
            class="slider__img"
            srcset="
              ./images/hero/img3-292.jpg   292w,
              ./images/hero/img3-528.jpg   528w,
              ./images/hero/img3-584.jpg   584w,
              ./images/hero/img3-1056.jpg 1056w
            "
            sizes="(min-width: 1200px) 528px, 292px"
            src="./images/hero/img1-528.jpg"
            alt="a plate with bread and sauce"
            width="528"
            height="528"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
</section>
