<section class="offerings">
  <img class="offerings__img" src="#" alt="apple" />
  <h2 class="offerings__title">What’s Special About Our Offerings</h2>
  <p class="offerings__description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
    enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros
    dolor interdum nulla, ut commodo diam libero vitae erat.
  </p>
  <ul class="offerings__list">
    <li class="offerings__item">
      <svg class="offerings__icon">
        <use></use>
      </svg>
      <h3 class="offerings__subtitle">Fasest Delivery</h3>
      <p class="offerings__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros.
      </p>
    </li>
    <li class="offerings__item">
      <svg class="offerings__icon">
        <use></use>
      </svg>
      <h3 class="offerings__subtitle">Easy to order</h3>
      <p class="offerings__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros.
      </p>
    </li>
  </ul>
  <button type="button">Order Now</button>
  <span>Read More</span>
</section>
