.customers {
  position: relative;
  padding-top: 60px;
  padding-bottom: 62px;

  @include mb(tab) {
    padding-top: 59px;
    padding-bottom: 115px;
  }

  @include mb(desk) {
    padding-top: 100px;
    padding-bottom: 213px;
  }
}

.customers__bg {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% 771px, 100% 100%;
  --adge: 50px;
  background-image: url('../images/customers/bg-mob.svg'),
  linear-gradient(to top, transparent, transparent var(--adge), $color-yellow-main var(--adge), $color-yellow-main);

  @include mb(tab) {
    background-size: 100% 554px, 100% 100%;
    --adge: 150px;
    background-image: url('../images/customers/bg-mob.svg'),
    linear-gradient(to top, transparent, transparent var(--adge), $color-yellow-main var(--adge), $color-yellow-main);
  }

  @include mb(desk) {
    background-size: 100% 654px, 100% 100%;
    --adge: 250px;
    background-image: url('../images/customers/bg-desk.svg'),
    linear-gradient(to top, transparent, transparent var(--adge), $color-yellow-main var(--adge), $color-yellow-main);
  }
}

.customers__title {
  margin-bottom: 20px;
}

.customers__text {
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 1.14; // 16px;

  @include mb(tab) {
    margin-bottom: 48px;
    font-size: 16px;
    line-height: 1.5;
  }

  @include mb(desk) {
    margin-bottom: 26px;
  }
}

.customers__list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include mb(tab) {
    flex-direction: row;
    gap: 32px;
  }

  @include mb(desk) {
    gap: 139px;
  }
}

.customers__item {
  @include mb(tab) {
    flex-basis: 336px;
  }

  @include mb(desk) {
    flex-basis: 501px;
  }
}
