.hero {
  position: relative;
  z-index: 1;

  @include mb(mob-only) {
    padding-bottom: 50px;
  }

  @include mb(not-desk) {
    padding-top: 60px;
  }

  @include mb(tab-only) {
    padding-bottom: 73px;
  }

  @include mb(desk) {
    padding-top: 159px;
    padding-bottom: 164px;
  }
}

.hero__container {
  position: relative;
}

.hero__wrap {
  @include mb(desk) {
    width: 502px;
  }
}

.main-title {
  margin-bottom: 28px;
  color: $color-black;

  @include mb(mob-only) {
    font-size: 28px;
    line-height: 1.18;
  }

  @include mb(tab-only) {
    margin-bottom: 44px;
    width: 537px;
  }

  @include mb(tab) {
    font-size: 42px;
    line-height: 1.2;
  }

  @include mb(desk) {
    font-size: 48px;
    width: 468px;
  }
}

.hero__desc {
  line-height: 1.5;
  color: $color-black;

  @include mb(mob-only) {
    font-size: 14px;
    margin-bottom: 28px;
  }

  @include mb(tab-only) {
    width: 336px;
  }

  @include mb(tab) {
    margin-bottom: 40px;
  }
}

.hero__slider {
  position: absolute;
  @include mb(mob-only) {
    display: none;
  }

  @include mb(tab-only) {
    width: 320px;
    top: 89px;
    right: 40px;
  }

  @include mb(desk) {
    width: 580px;
    top: -145px;
    right: 30px;
  }
}

.slider {
  border-radius: 50%;
  overflow: hidden;

  &.slick-slider {
    position: static;
  }

  @include mb(tab-only) {
    --btn-shift: -28px;
    border: 14px solid $color-yellow-main;
  }

  @include mb(desk) {
    --btn-shift: -14px;
    border: 26px solid $color-yellow-main;
  }
}

.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: var(--btn-shift);
}

.slick-prev {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  left: var(--btn-shift);
}
