.subscription {
  margin-top: -45px;
  padding-top: 95px;
  padding-bottom: 60px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 161px 78px;
  background-image: url("../images/subscription/img-320w161.png");
  @include retina {
    background-image: url("../images/subscription/img-320w161@2x.png");
  }
  background-position: top center;

  @include mb(tab) {
    padding-top: 156px;
    padding-bottom: 100px;
    background-size: 281px 136px;
    background-image: url("../images/subscription/img-768w281.png");
    @include retina {
      background-image: url("../images/subscription/img-768w281@2x.png");
    }
    background-position: calc(50% + 211px) 0;
  }

  @include mb(desk) {
    padding-top: 46px;
    background-size: 546px 266px;
    background-image: url("../images/subscription/img-1280w546.png");
    @include retina {
      background-image: url("../images/subscription/img-1280w546@2x.png");
    }
    background-position: calc(50% + 342px) 0;
  }
}

.subscription__container {
  @include mb(desk) {
    display: grid;
    grid-template-columns: 51%;
  }
}

.subscription__title {
  margin-bottom: 20px;
}

.subscription__text {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.14; // 16px;

  @include mb(tab) {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 1.5;
  }
}