.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-family: inherit;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: $color-black;
  background-color: transparent;

  border: none;
  border-radius: 21px;
  cursor: pointer;
  transition: border-color $transition, background-color $transition;

  &--small {
    padding: 5px 16px;
  }

  &--big {
    min-height: 42px;
    padding: 10px 22px;
  }

  &--green {
    background-color: $color-btn-green;

    &:hover,
    &:focus {
      background-color: $color-btn-green-hover;
    }
  }

  &--white {
    background-color: $color-white-default;
    border: 2px solid $color-dark-green;

    &:hover {
      border-color: $color-dark-green-hover;
    }
  }

  &--white-yellow {
    background-color: $color-white-default;
    border: 1px solid $color-dark-green;

    &:hover {
      background-color: $color-yellow-main;
    }
  }

  &--slider {
    width: 40px;
    height: 48px;
    background: $color-white-default;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    transition: color $transition, box-shadow $transition;

    &:hover {
      color: $color-dark-green;
    }

    &:active {
      color: $color-black;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16);
    }
  }

  &--rev-icon {

  }
}

.btn__icon {
  position: relative;
  display: inline-block;
  vertical-align: center;

  .btn--rev-icon & {
    transform: rotate(180deg);
  }
}
