.navigation {
  @include mb(mob-only) {
    display: none;
  }

  @include mb(tab) {
    display: flex;
    align-items: center;
  }
}

.navigation__list {
  @include mb(tab) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &--start {
    @include mb(mob-only) {
      border-radius: 30px 0 0 0;
    }
  }

  &--end {
    @include mb(mob-only) {
      border-radius: 0 0 30px 30px;
    }
  }
}

.navigation__item {
  @include mb(tab) {
    margin-right: 28px;
  }
}

.navigation__anchor {
  @include mb(tab) {
    display: block;
    padding: 18px 0;
    font-size: 14px;
    line-height: 1.14; // 16px;
    transition: color $transition;

    &:hover,
    &:focus {
      text-decoration: underline;
      color: $color-btn-green;
    }
  }
}
