.sbr-form {
  display: flex;
  flex-direction: column;
  gap: 3px;

  @include mb(tab) {
    flex-direction: row;
    align-items: flex-start;
    gap: 22px;
  }

  @include mb(desk) {
    gap: 19px;
  }
}

.sbr-form__btn {
  align-self: flex-end;

  @include mb(tab) {
    align-self: unset;
  }
}

.sbr-form__field {
  @include mb(tab) {
    width: 395px;
  }
}